
.content{
    position: absolute;
    left:350px;
    top: 100px;
    border: 1px solid black;
    height:150px;
}
#myid{
    padding-left: 15px;
    padding-right:15px;
}
#id1{
    border: 1px solid black;
    border-radius: 5px;
    color:black;
    background-color: white;
    font-size: 15px;
    cursor: pointer;
}
table,th,td{
    margin: auto;
    border:1px solid #000000;
    text-align: center;
    padding: 5px;
}
table
{
border-collapse: collapse;

}
th{
    background-color: orangered;
    color:white;
}
 

